<h1>
    Información Comics POST
</h1>

<form method="post">
    <label>Título comic: </label>
    <input type="text" name="nombre" class="form-control"/><br/>
    <label>Descripción: </label>
    <input type="text" name="descripcion" class="form-control"/><br/>
    <label>Imagen: </label>
    <input type="text" name="imagen" class="form-control"/><br/>
    <button class="btn btn-success">
        Crear Comic
    </button>
</form>
