html {
    font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;

}

body {
    margin-bottom: 60px;
    background-image: url(https://images3.alphacoders.com/677/677357.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}