@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD DEPARTAMENTOS</h1>
    <img src="https://storageeoicaja.blob.core.windows.net/imagenes/WhatsApp Image 2023-01-14 at 16.40.06.jpeg" />
    @{<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>}
</div>
