@model RolPrueba1.Models.Seres

<h1>Detalles de @Model.Nombre</h1>

<div class="card" style="width: 20rem;">
	@*<img class="card-img-top" src="@Model.Imagen" alt="Card image cap">*@
  <div class="card-body">

    <h4 class="card-title">Nombre: </h4>
    <h5>@Model.Nombre </h5>

    <p class="card-text">
        <h4>Especie </h4>
    </p>

    <h5>@Model.Especie</h5>
  </div>
</div>
<div>
<a asp-controller="Seres"  asp-action="Index"
class="btn btn-outline-danger"> Lista</a>
</div>
